<app-navbar></app-navbar>
<div class="residents-page">

  <div class="page-header">
  <div>
    <h1>Aggregator Management</h1>

<p>
Create and manage aggregators across different states.
</p>
  </div>

  <button class="add-btn" (click)="openAddModal()">
    + Add Aggregator
  </button>
</div>

<div class="toolbar">
  <input
    class="search-box"
    type="text"
    placeholder="Search by name, flat or phone"
    [(ngModel)]="searchText"
  />
</div>

  <table *ngIf="residents.length > 0">
    <thead>
      <tr>
        <th>S.No</th>
<th>Aggregator Name</th>
<th>Contact</th>
<th>Email</th>
<th>State</th>
<th>Aggregator</th>
<th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let resident of residents; let i=index">
        <td>{{ i + 1 }}</td>
<td>{{ resident.full_name }}</td>
<td>{{ resident.phone_number }}</td>
<td>{{ resident.email }}</td>
<td>{{ resident.state }}</td>
<td>{{ resident.aggregator }}</td>
<td>
  <button class="edit-btn" (click)="openEditModal(i)">Edit</button>
  <button class="delete-btn" (click)="deleteResident(i)">Delete</button>
</td>
      </tr>
    </tbody>
  </table>

  <p class="empty-state" *ngIf="filteredResidents.length===0">
  No residents found.
</p>

</div>

<!-- Modal -->

<div class="modal-backdrop" *ngIf="showAddModal">

    <div class="modal">

        <h2>Add Aggregator</h2>

        <form [formGroup]="residentForm">

    <input
        type="text"
        placeholder="Aggregator Name"
        formControlName="fullName">

    <input
        type="text"
        placeholder="Contact Number"
        formControlName="phoneNumber">

    <input
        type="email"
        placeholder="Email Address"
        formControlName="email">

    <select formControlName="state">

        <option value="">
            Select State
        </option>

        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Delhi">Delhi</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>

    </select>

    <select formControlName="aggregator">
  <option value="">Select Aggregator</option>

  <option
    *ngFor="let item of aggregatorList"
    [value]="item.name">
    {{ item.Code }} - {{ item.name }}
  </option>
</select>

</form>

        <div class="buttons">

            <button (click)="addResident()">
                Save
            </button>

            <button (click)="closeAddModal()">
                Cancel
            </button>

        </div>

    </div>

</div>

<div class="modal-backdrop" *ngIf="showEditModal">
  <div class="modal">
    <h2>Edit Aggregator</h2>

    <form [formGroup]="residentForm">

      <input
        type="text"
        placeholder="Aggregator Name"
        formControlName="fullName">

      <input
        type="text"
        placeholder="Contact Number"
        formControlName="phoneNumber">

      <input
        type="email"
        placeholder="Email Address"
        formControlName="email">

      <select formControlName="state">
        <option value="">Select State</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Delhi">Delhi</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
      </select>

      <select formControlName="aggregator">
  <option value="">Select Aggregator</option>

  <option
    *ngFor="let item of aggregatorList"
    [value]="item.name">
    {{ item.Code }} - {{ item.name }}
  </option>
</select>

    </form>

    <div class="buttons">
      <button (click)="updateResident()">Update</button>
      <button (click)="closeEditModal()">Cancel</button>
    </div>
  </div>
</div>